{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5"> PÁGINA DE ANALISTA </h1>
{% endblock %}

{% block contenido %}
<h1> CREE UN ANALISTA </h1>

<form action="{% url 'analista_form' %}" method="POST"> {% csrf_token %}
    <p> nombre <input type="text" name="nombre"> </p> 
    <p> apellido <input type="text" name="apellido"> </p> 
    <p> rol <input type="text" name="rol"> </p> 
    <p> identificacion <input type="text" name="identificacion"> </p> 
    <p> email <input type="text" name="email"> </p> 
    <input type="submit" value="Enviar datos"

{% endblock %}