{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5"> FORMULARIO USUARIO </h1>
{% endblock %}

{% block contenido %}
<h1> CREE UN USUARIO </h1>

<form action="{% url 'usuario_form' %}" method="POST"> {% csrf_token %}
<p> nombre <input type="text" name="nombre"> </p> 
<p> apellido <input type="text" name="apellido"> </p> 
<p> identificacion <input type="text" name="identificacion"> </p> 
<p> email <input type="text" name="email"> </p> 
<input type="submit" value="Enviar datos"

<br>
<hr>
<center>
    <h2>
        <a class="fcc-btn" href="http://127.0.0.1:8000/AppMensajes/buscarusuario/">Buscar un usuario </a>
    </h2>
</center>


{% endblock %}